<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
    <h1 class="font-60">Welcome to <%= title %></h1>
    <a href="users\login" class="btn">Login</a>
    <a href="users\register" class="btn">SignUp</a>

  </body>
</div>
</html>
