<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <title>Document</title>
</head>
<body>
   <style>
      .align-center {
  text-align: center;
}

html {
  height: 100%;
}
.get-in-touch, form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
.submit-btn {
  width: 100px;
}

</style>
        <section class="get-in-touch">
                <h1 class="title">Sign Up</h1>
                <form method="POST" action="/users/register" class="contact-form row">
                   <div class="form-field col x-50">
                      <label class="label" for="name">Name</label>
                      <input name="name" id="name" class="input-text js-input" type="text" required>
                   </div>
                   <div class="form-field col x-50">
                      <label class="label" for="email">Email</label>
                      <input name="email" id="email" class="input-text js-input" type="text" required>
                   </div>
                   <div class="form-field col x-50">
                    <label class="label" for="password">Password</label>
                    <input name="password" id="name" class="input-text js-input" type="text" required>
                 </div>
                   <div class="form-field col x-100 align-center">
                      <input class="submit-btn" type="submit" value="Submit">
                   </div>
                </form>
             </section>
</body>
</html>