<div class="wrapper">
    <h1>Name:<%=user.name%></h1>
    <h1>E-mail:<%=user.email%></h1>
    <h1>Password:<%=user.password%></h1>
</div>
<style>
        .btn button {
            color: white;
            width: 100px;
            height: 30px;
            border-radius: 5px;
            background-color: purple;
            font-family: monospace;
            /* font-size: 30px; */
        }
        .wrapper {
        width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    </style>